{
    "presets": [
        ["@babel/preset-env", {
            "debug": false,
            "useBuiltIns": "usage",
            "corejs": "2"
        }]
    ],
    "plugins": [
        ["babel-plugin-transform-html-import-to-string"],
        ["@babel/plugin-transform-regenerator"]
    ]
}
