// Reset
.ozpital-wpwetransfer,
.ozpital-wpwetransfer * {
    position: static;
    display: block;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

    box-sizing: border-box;

    &:before,
    &:after {
        display: none;
    }
}


// Layout
.ozpital-wpwetransfer {
    overflow: hidden;
    border-radius: em(4);
}

.ozpital-wpwetransfer__container {
    background-color: #eb5757;
}

.ozpital-wpwetransfer__header {
    padding: em(10);
}

.ozpital-wpwetransfer__heading {}

.ozpital-wpwetransfer__heading-label {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    white-space: nowrap;
    visibility: hidden;
}

.ozpital-wpwetransfer__heading-logo {
    display: block;
    width: 64px;
    height: 40px;

    @include pngsvg('../images/icon--we.png', '../images/icon--we.svg');
}

.ozpital-wpwetransfer__content {
    padding: em(20);
}

.ozpital-wpwetransfer__notice {
    display: inline-block;

    font-weight: 600;
    text-align: center;

    color: #fff;
}
