// Layout
.indi-wetransfer__container {
    background-color: #000;
}

.indi-wetransfer__content {
    padding: 0;

    background-color: #f5f5f5;
}

// Form
.indi-wetransfer-transferer {}

.indi-wetransfer-transferer__set {
    position: relative;
    display: block;

    padding: em(20);
}

.indi-wetransfer-transferer__set--file {
    background-color: #fff;

    cursor: pointer;

    .indi-wetransfer-transferer__icon {
        position: absolute;
        top: em(20);
        left: em(20);

        display: block;
        width: em(38);
        height: em(38);

        border-radius: em(38 / 2);
        background-color: rgba(63, 159, 255, 1);

        transition: background-color 300ms;
        will-change: background-color;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: em(12);
            height: em(12);

            margin-top: -(em(6));
            margin-left: -(em(6));
        }
    }

    .indi-wetransfer-transferer__label,
    .indi-wetransfer-transferer__notice {
        position: relative;
        display: table;
        height: em(38);
        padding-left: em(20) + em(38);
    }

    .indi-wetransfer-transferer__label {
        z-index: 2;

        transform: translateY(0);

        transition: transform 300ms;
        will-change: transform;
    }

    .indi-wetransfer-transferer__notice {
        position: absolute;
        z-index: 1;
        top: em(20);
        left: em(20);

        opacity: 0;
        transform: translateY(0);

        transition: opacity 300ms, transform 300ms;
        will-change: opacity, transform;
    }

    .indi-wetransfer-transferer__label-text,
    .indi-wetransfer-transferer__notice-text {
        display: table-cell;
        font-family: sans-serif;
        font-weight: 500;
        line-height: 1em;
        text-transform: none;
        white-space: nowrap;
        vertical-align: middle;

        color: rgba(17, 17, 17, 1);

        user-select: none;
    }

    .indi-wetransfer-transferer__label-text {
        font-size: 1.1em;
    }

    .indi-wetransfer-transferer__notice-text {
        font-size: 0.7em;

        color: rgba(17, 17, 17, 0.6);
    }

    &:hover {
        .indi-wetransfer-transferer__icon {
            background-color: rgba(0, 115, 229, 1);
        }

        .indi-wetransfer-transferer__label {
            transform: translateY(-0.6em);
        }

        .indi-wetransfer-transferer__notice {
            opacity: 1;
            transform: translateY(0.6em);
        }
    }
}

.indi-wetransfer-transferer__element {}

.indi-wetransfer-transferer__element--file {
    display: none;
}

.indi-wetransfer-transferer__input {}

.indi-wetransfer-transferer__input--file {}

.indi-wetransfer-transferer__button {
    margin: 0 auto;
}

.indi-wetransfer-transferer__button--submit {
    display: block;

    min-width: em(160);

    padding: 1em 2em;

    line-height: 1em;

    border: 0;
    border-radius: 3em;

    color: #fff;
    background-color: #3f9fff;
    background-image: none;
    cursor: pointer;
    outline: none;

    &[disabled] {
        background-color: #bdbdbd;
        cursor: auto;
    }
}

.indi-wetransfer-transferer__footer {
    padding: em(20);
}

.indi-wetransfer-item {
    position: relative;

    margin: 0 0 em(1);
    padding: em(16) em(20);

    background-color: #fff;

    &:hover {
        .indi-wetransfer-item__button--delete {
            opacity: 1;
        }
    }
}

.indi-wetransfer-item__icon {
    position: relative;

    pointer-events: none;

    svg {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: em(12);
        height: em(12);
        margin-top: -(em(12 / 2));
        margin-left: -(em(12 / 2));

        path {
            fill: rgba(63, 159, 255, 1);
        }
    }
}

.indi-wetransfer-item__name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: em(16) em(20) 0;
}

.indi-wetransfer-item__name-text {
    overflow: hidden;
    font-size: 0.9em;
    line-height: 1.1em;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: rgba(17, 17, 17, 1);
}

.indi-wetransfer-item__details {
    display: flex;
    margin: 0.9em 0 0;
    padding: 0.2em 0 0;
}

.indi-wetransfer-item__size-text {
    position: relative;
    padding: 0 2em 0 0;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 1em;
        display: block;
        width: 0.2em;
        height: 0.2em;
        margin-top: -0.1em;
        margin-right: -0.1em;

        background-color: rgba(17, 17, 17, 1);
    }
}

.indi-wetransfer-item__size,
.indi-wetransfer-item__type {
    display: inline-block;
}

.indi-wetransfer-item__size-text,
.indi-wetransfer-item__type-text {
    display: inline-block;

    font-size: 0.7em;
    line-height: 1em;

    color: rgba(17, 17, 17, 0.6);
}

.indi-wetransfer-item__name-text,
.indi-wetransfer-item__size-text,
.indi-wetransfer-item__type-text {
    width: 100%;
    font-family: sans-serif;
}

.indi-wetransfer-item__button {
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    outline: none;

    &:hover {
        .indi-wetransfer-item__icon {
            svg {
                path {
                    fill: rgba(0, 115, 229, 1);
                }
            }
        }
    }
}

.indi-wetransfer-item__button--delete {
    position: absolute;
    top: 0;
    right: 0;
    width: em(64);
    height: 100%;

    opacity: 0;

    transition: opacity 150ms;
    will-change: opacity;

    &:after {
        content: '';

        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        display: block;
        width: 200%;
        height: 100%;

        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%);

        pointer-events: none;
    }
}

.indi-wetransfer-transfering {
    padding: em(20);

    text-align: center;
    vertical-align: top;
}

.indi-wetransfer-transfering__percentage {
    position: relative;
    display: inline-block;

    &:after {
        content: attr(data-amount) '%';

        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        font-family: monospace;
        font-size: em(38);
        line-height: 1em;

        color: rgba(17, 17, 17, 0.8);

        transform: translate(-50%, -50%);
    }
}


.indi-wetransfer-success {
    padding: em(20);
    text-align: center;
}

.indi-wetransfer-success__message {
    display: block;
    font-family: sans-serif;
    font-size: em(28);
    line-height: 1.2em;

    color: #111;
}

.indi-wetransfer-success__url {
    display: block;
    margin: 1em 0 0;
    font-family: sans-serif;

    a {
        display: inline-block;
        padding: 0.5em 1em;
        border: em(1) solid rgba(17, 17, 17, 0.4);
        border-radius: em(4);
        color: #333;
    }
}

.indi-wetransfer-success__url--false {
    display: none;
}

.indi-wetransfer-failed {
    padding: em(20);
    text-align: center;
    background-color: #eb5757;
}

.indi-wetransfer-failed__message {
    font-family: sans-serif;
    font-size: em(30);
    color: #fff;
}

.indi-wetransfer-progress {
    transform: rotate(0);
    transform-origin: 50% 50%;

    will-change: transform;

    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-name: indi-progress-spin;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.indi-wetransfer-progress__background {
    stroke: #e4e2de;

    will-change: stroke-width;
}

.indi-wetransfer-progress__amount {
    stroke: #3e9ef9;

    transform: rotate(0);
    transform-origin: 50% 50%;

    transition: stroke-dashoffset 300ms;
    will-change: stroke-width, stroke-dashoffset, transform;
}

@keyframes indi-progress-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
