@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

// Layout
.ozpital-wpwetransfer__container {
    background-color: #000;
}

.ozpital-wpwetransfer__content {
    padding: 0;

    background-color: #f5f5f5;
}

// Form
.ozpital-wpwetransfer-form {}

.ozpital-wpwetransfer-form__set {
    display: block;

    padding: em(20);
}

.ozpital-wpwetransfer-form__icon {
    display: inline-block;
    vertical-align: middle;
}

.ozpital-wpwetransfer-form__icon--add {
    width: em(38);
    height: em(38);

    background-image: url('../images/button--add.svg');
    background-position: 50% 50%;
    background-size: 100% 100%;

    transform: scale(0.9474) rotate(0);

    transition: transform 250ms;
}

.ozpital-wpwetransfer-form__set--file {
    background-color: #fff;

    cursor: pointer;

    .ozpital-wpwetransfer-form__label {
        margin: 0 0 0 0.5em;


        color: #111;
    }

    &:hover {
        .ozpital-wpwetransfer-form__icon--add {
            transform: scale(1) rotate(180deg);
        }
    }
}

.ozpital-wpwetransfer-form__label {
    display: inline-block;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: none;
    vertical-align: middle;

    user-select: none;
}

.ozpital-wpwetransfer-form__element {}

.ozpital-wpwetransfer-form__element--file {
    display: none;
}

.ozpital-wpwetransfer-form__input {}

.ozpital-wpwetransfer-form__input--file {}

.ozpital-wpwetransfer-form__button {
    margin: 0 auto;
}

.ozpital-wpwetransfer-form__button--submit {
    display: block;

    min-width: em(160);

    padding: 1em 2em;

    line-height: 1em;

    border: 0;
    border-radius: 3em;

    color: #fff;
    background-color: #3f9fff;
    background-image: none;
    cursor: pointer;
    outline: none;

    &[disabled] {
        background-color: #bdbdbd;
        cursor: auto;
    }
}

.ozpital-wpwetransfer-form__footer {
    padding: em(20);
}

.ozpital-wpwetransfer-item {
    overflow: hidden;

    margin: em(1) 0 0;
    padding: em(16) em(20);

    background-color: #fff;
}

.ozpital-wpwetransfer-item__name {
    float: left;

    font-family: 'Roboto', sans-serif;

    color: #111;
}

.ozpital-wpwetransfer-item__button {
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    outline: none;
}

.ozpital-wpwetransfer-item__button--delete {
    float: right;

    .ozpital-wpwetransfer-item__label {
        font-family: 'Roboto', sans-serif;
        font-size: 0.8em;
        font-weight: 500;
        line-height: 1.2em;
        color: #3f9fff;
    }
}

.ozpital-wpwetransfer-transfering {
    padding: em(20);
}

.ozpital-wpwetransfer-transfering__percentage {
    text-align: center;
}

.ozpital-wpwetransfer-transfering__amount {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: em(40);
    vertical-align: bottom;

    color: #111;
}

.ozpital-wpwetransfer-transfering__symbol {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: em(20);
    line-height: 1.2em;
    vertical-align: bottom;

    color: #111;
}


.ozpital-wpwetransfer-success {
    padding: em(20);
    text-align: center;
}

.ozpital-wpwetransfer-success__message {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: em(40);
    line-height: 1.2em;

    color: #111;
}

.ozpital-wpwetransfer-success__url {
    display: block;
    font-family: 'Roboto', sans-serif;

    a {
        color: #333;
    }
}

.ozpital-wpwetransfer-failed {
    padding: em(20);
    text-align: center;
    background-color: #eb5757;
}

.ozpital-wpwetransfer-failed__message {
    font-family: 'Roboto', sans-serif;
    font-size: em(30);
    color: #fff;
}
