<form method="post" class="ozpital-wpwetransfer-form" enctype="multipart/form-data">
    <label class="ozpital-wpwetransfer-form__set ozpital-wpwetransfer-form__set--file">
        <span class="ozpital-wpwetransfer-form__icon ozpital-wpwetransfer-form__icon--add"></span>
        <span class="ozpital-wpwetransfer-form__label">Add your files</span>
        <span class="ozpital-wpwetransfer-form__element ozpital-wpwetransfer-form__element--file">
            <input type="file" name="ozpital-wpwetransfer-files[]" value="" class="ozpital-wpwetransfer-form__input ozpital-wpwetransfer-form__input--file" multiple>
        </span>
    </label>

    <div class="ozpital-wpwetransfer-form__list"></div>

    <div class="ozpital-wpwetransfer-form__footer">
        <button type="submit" class="ozpital-wpwetransfer-form__button ozpital-wpwetransfer-form__button--submit" disabled>
            <span class="ozpital-wpwetransfer-form__label">Transfer</span>
        </button>
    </div>

    <input type="hidden" name="action" value="owpwt">
</form>
