<form method="post" class="wordpress-wetransfer-form" enctype="multipart/form-data">
    <label class="wordpress-wetransfer-form__set wordpress-wetransfer-form__set--file">
        <span class="wordpress-wetransfer-form__icon wordpress-wetransfer-form__icon--add"></span>
        <span class="wordpress-wetransfer-form__label">Add your files</span>
        <span class="wordpress-wetransfer-form__element wordpress-wetransfer-form__element--file">
            <input type="file" name="wordpress-wetransfer-files[]" value="" class="wordpress-wetransfer-form__input wordpress-wetransfer-form__input--file" multiple>
        </span>
    </label>

    <div class="wordpress-wetransfer-form__list"></div>

    <div class="wordpress-wetransfer-form__footer">
        <button type="submit" class="wordpress-wetransfer-form__button wordpress-wetransfer-form__button--submit" disabled>
            <span class="wordpress-wetransfer-form__label">Transfer</span>
        </button>
    </div>

    <input type="hidden" name="action" value="wordpresswetransfer">
</form>
