<div class="indi-wetransfer-transfering">
    <span class="indi-wetransfer-transfering__percentage" data-amount="0" role="progressbar">
        <svg width="176" height="176" viewBox="0 0 176 176" fill="none" xmlns="http://www.w3.org/2000/svg" class="indi-wetransfer-progress">
        <path d="M6 88C6 42.7127 42.7127 6 88 6C133.287 6 170 42.7127 170 88C170 133.287 133.287 170 88 170C42.7127 170 6 133.287 6 88Z" stroke="#e4e2de" stroke-width="10" stroke-linecap="round" class="indi-wetransfer-progress__background" />
        <path d="M6 88C6 42.7127 42.7127 6 88 6C133.287 6 170 42.7127 170 88C170 133.287 133.287 170 88 170C42.7127 170 6 133.287 6 88Z" stroke="#3e9ef9" stroke-width="10" stroke-linecap="round" stroke-dasharray="515.293" stroke-dashoffset="515.293" class="indi-wetransfer-progress__amount" />
        </svg>
    </span>
</div>
